<table class="table table-striped">
  <thead>
    <tr>
      <th>付款时间</th>
      <th>订单编号</th>
      <th>总计</th>
      <th>产品数</th>
      <th>状态</th>
    </tr>
  </thead>
  <tbody>
    <% role_tasks.each do |order| %>
      <tr class='task_column'>
        <td><%= timeago_tag order.paid_at %></td>
        <td><%= link_to order.number, [:manage, order] %></td>
        <td>
          <strong><%= number_to_currency(order.total, :locale=>:en) %></strong>
          <span class="sipping">(含运费<%= number_to_currency(order.shipping_cost, :locale=>:en) %>)</span>
        </td>
        <td><%= order.order_products.count %></td>
        <td><span><%= order_product_status(order) %></span></td>
        <td><a href="<%= manage_order_path(order)%>" class='pull-right go_process btn btn-mini btn-success'>
          <i class=' icon-arrow-right'></i>
        </a></td>
      </tr>
    <% end -%>
  </tbody>
</table>
