<table class="order-admin table table-hover">
  <thead>
    <tr class="column-headers">
      <th><%= t_views '.date' %></th>
      <th><%= t_views '.you_earn' %></th>
      <th><%= t_views '.affiliatestatus' %></th>
    </tr>
  </thead>
  <tbody>
    <% referral_products.each do |rp| %>
      <% op = rp.order_product %>
      <tr>
        <td><%= op.created_at.to_date.to_s %></td>
        <td><span class="free-s">$<%= op.commission.roundf %></span></td>
        <td><%= t_models(rp, 'get_status') %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="8"><div class="free-s pull-right">
          <span style="color: #333;"><%= t_views(".total") %>:</span>
          <span style="color: #5bb75b; font-size: 22px">$<%= @amount.roundf %></span>
    </strong></div></td></tr>
  </tfoot>
</table>
<%= will_paginate @referral_products, :renderer => PaginationNoFollow %>
