<section class="box channel-right cc-img-left-center" id = "front_module_small_3" data-content="<%= fm.content if fm.present? %>" data-id="<%= fm.id if fm.present? %>">
<h3 class="title" id = "slot_h3">待编辑</h3>
  <div class="cc-title">
    <a rel="nofollow" href="" id = "slot_a_0">
      <%= image_tag "front_modules/190_70_tmp.png", :width => "190px", :height => "70px", :id => "slot_img_0" %>
    </a>
  </div>
  <div class="cc-img">
    <a href="" rel="nofollow" id = "slot_a_1">
      <%= image_tag "front_modules/100_180_tmp.png", :width => "100px", :height => "180px", :id => "slot_img_1" %>
    </a>
  </div>
<ul class="cc-cate">
  <% 7.times do |i| %>
    <li>
      <a rel="nofollow" href="" id = "slot_a_<%= i+2 %>">待编辑</a>
    </li>
  <% end  %>
  </ul>
<div class="cc-more"><a href="#" rel="nofollow" id = "slot_a_9">待编辑</a></div>
</section>