<div class="tabbable">
  <ul class="nav nav-tabs">
    <% FrontModule::CN_TYPE.each_pair do |k, v| %>
      <li class="<%= 'active' if params[:fm_type] == k.to_s %>">
        <%= link_to v, manage_front_modules_url(:fm_type => k) %>
      </li>
    <% end %>
    <div class="tabbable">
      <%= link_to "<i class='icon-plus icon-white'></i>创建首页模块".html_safe, new_manage_front_module_path, :class => "btn btn-primary"%>
    </div>
  </ul>
</div>
<% if params[:fm_type] == "5" %>
<section class="span18 article">
  <% @fms.each do |fm| %>
  <%= render ActiveSupport::JSON.decode(fm.content)["style_id"], :fm => fm %>
  <% end  %>
</section>
<% else  %>
<section class="span24 article">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>标题</th>
        <th>类型<small>(蓝色块点击可修改模块显示位置，左栏，主栏)</small></th>
        <th width=80>权重</br><small>(点击可修改)</small></th>
        <th width=70>归属地区</br><small>(点击可修改)</small></th>
        <th width=200>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @fms.each do |fm| %>
        <tr data-id="<%= fm.id %>">
          <td><%= link_to fm.title, edit_manage_front_module_path(fm) %></td>
          <td>
            <span class="badge badge-warning"><%= fm_hash = ActiveSupport::JSON.decode(fm.content); fm_hash["style_id"]; %></span>&nbsp
            <% if (fm.category != 3) && (fm_hash['style_id'] =~ /small/) %>
            <span class="badge badge-info category_can_change"><%= FrontModule::CN_CATEGORY[fm.category] %></span>
            <% else %>
            <span class="badge badge-success"><%= FrontModule::CN_CATEGORY[fm.category] %></span>
            <% end %>
          </td>
          <td class="front_module_order_edit"><span><%= fm.module_order %></span></td>
          <td class="front_module_locale_edit"><span><%= fm.locale %></span></td>
          <td>
            <div class="btn-group" style="float:left;">
            <%= link_to "准备发布", manage_front_module_url(fm, :fm_type => 4), :method => "PUT", :class => "btn" if fm.fm_type == 2 %>
            <%= link_to "过期", manage_front_module_url(fm, :fm_type => 3), :method => "PUT", :class => "btn",:confirm => "过期此模块?" if fm.fm_type == 2 %>
            <%= link_to "编辑", manage_front_module_url(fm, :fm_type => 2), :method => "PUT", :class => "btn",:confirm => "放回编辑区？" if [1, 3].include? fm.fm_type %>
            <%= link_to "发布", manage_front_module_url(fm, :fm_type => 1), :method => "PUT", :class => "btn btn-inverse",:confirm => "确定发布？" if fm.fm_type == 4 %>
            </div>
            <div class="btn-group" style="float:right;">
              <%= link_to "<i class='icon-pencil icon-white'></i>".html_safe, edit_manage_front_module_path(fm), :class => "btn btn-success" %>
              <%= link_to "<i class='icon-trash icon-white'></i>".html_safe, manage_front_module_path(fm), :method => "DELETE", :class => "btn btn-danger",:confirm => "确定删除？" %>
            </div>
          </td>
        </tr>
      <% end  %>
    </tbody>
  </table>
  <div align="center">
    <%= will_paginate @fms,  :renderer => PaginationNoFollow %>
  </div>
</section>
<% end  %>

<div id="fm_locale" class="modal hide fade">
  <div class="modal-header">
    <h3>模块归属地区</h3>
  </div>
  <div class="modal-body">
    <% ["en", "cn", "ru", "universal"].each do |locale| %>
    <%= radio_button_tag(:locale, locale, (true if locale == "universal")) %>&nbsp<span style="margin-right:10px"><b><%= locale %></b></span>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" id = "fm_locale_save">保存</a>
  </div>
</div>
