<% unless current_user.confirmed? %>
  <div class="alert"><%= t_views('alert', :email => current_user.email).html_safe %></div>
<% end %>
<div class="row">
  <div class="span15">
    <section class="my-accountbx clearfix">
      <a href="#" class="my-account-img no">
        <img src="images/default-avatar.gif" alt=""><%#<span class="my-account-img-edit ">Upload Avatar</span>%>
      </a>
      <div class="my-account-info">
        <p class="user-txt"><%= current_user.username %></p>
        <p class="email"><%= current_user.email %>
          <% unless current_user.confirmed? %>
            <span class="label label-info"><%= t_views 'not_verified' %></span>
          <% end %>
        </p>
        <table>
          <tbody>
            <tr>
              <td><%= t_views 'available' %></td>
              <td style="padding-left:25px"><%= t_views 'frozen' %></td>
              <td rowspan="2" style="padding-left:15px">
                <%= link_to t_views('transfers'), transfer_my_wallet_path, :class => 'btn btn-large btn-warning' %>
              </td>
            </tr>
            <tr>
              <td>
                <% account = current_user.account %>
                <div class="balance"><span class="number">$<%= account.fund %></span><span class="unit">USD</span></div>
              </td>
              <td style="padding-left:25px">
                <div class="balance"><span class="number">$<%= account.frozen_fund %></span><span class="unit">USD</span></div>
              </td>
            </tr>
          </tbody> </table> </div>
    </section>
    <section class="box-orange">
      <div class="title" style="background:#FFF3D9;"><%= t_views('reminders') %></div>
      <div class="bd">
        <ul class="remind-list clearfix">
          <% ['waiting', 'delivered', nil, 'processing', 'dispute'].each do |type| %>
            <li><a class="lnk" href="<%= to_orders(type) %>"><%= t_views(type||'my.left_nav.all') %>
                <b class="orange">(<%= current_user.order_count_by_status(Order::TABS[type]) %>)</b></a>
            </li>
          <% end %>
        </ul>
        <ul class="remind-list dashed clearfix">
          <li class="lnk"><a class="lnk" href="<%= to_orders("settled") %>"><%= t_views('my.left_nav.settled') %>
              <b>(<%= current_user.order_count_by_status("SETTLED") %>)</b></a>
          </li>
          <li><a class="lnk" href="<%= to_orders('unread')%>"><%= t_views 'order_messages' %>
            <b>(<%= current_user.messages.orders.count  %>)</b></a>
          </li>
          <li><a class="lnk" href="<%= my_messages_path %>"><%= t_views 'questions' %>
            <b>(<%= current_user.messages.questions.count %>)</b></a>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <div class="span5">
    <div class="ticket-online">
      <p><i class="online-ico"></i><strong><%= t_views('ask_a_qs') %></strong><br>
        <span class="txt"><%= t_views('ask_a_qs_d') %></span>
      </p>
      <a href="<%= new_my_message_path %>" target="_blank" class="online-input"><%= t_views('ask_a_qs') %></a>
    </div>
  </div>
</div>
